.film-card {
	position: relative;
	padding: 10px;
	background-color: rgba(32, 40, 62, 0.8);
	border-radius: 10px;
}

.film-card__favourites {
	padding-bottom: 24px;
}

.film-card__favourites > button {
	background-color: none;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
}

.film-card__favourites > button > img {
	width: 24px;
	height: auto;
}
.film-card__favourites-not-added {
	color: var(--color-purple);
}
.film-card__favourites-added {
	color: var(--color-green-light);
}

.film-card__title {
	font-size: 16px;
	font-weight: 800;
	color: #fff;
	padding: 24px 0;
}

.film-card__poster {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	max-height: 400px;
}

.film-card__raiting {
	width: min-content;
	padding: 4px 8px;
	position: absolute;
	top: 20px;
	left: 20px;
	background: #000;
	display: flex;
	gap: 7px;
	color: #ffae48;
	border-radius: 4px;
}
